:root {
        --main-bg-color: aliceblue;
        --second-color: rgb(0, 80, 104);
        --third-color: rgb(49, 49, 49);
}

* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

body {
        font-family: Arial;
}